.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  background: rgba($black, .3);
  pointer-events: none;

  &.in {
    display: flex;
    opacity: 1;
    pointer-events: all;
  }

  &-dialog {
    width: 60rem;
    margin: 3rem auto;
    background: $white;
  }
}
